doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        style 
            include ../../public/stylesheets/style.css   
        title Daisy Hill Puppy Farm
    body
        h1 Welcome to The Puppy Generation Page
        form(action='/puppies', method='POST')
            label(for='name') Puppy's Name
            input#name(autofocus='', type='text', name='name')
            br
            label(for='age') Puppy's Age
            input#age(type='number', name='age')
            br
            button(type='submit', name='submit') Submit your pup!
        p
            | For more information:  
        p
            a(href='../../') Home
        p
            a(href='../../about') About
        p
            a(href='../../contact') Contact
