body {
    background-color: yellow;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1, h2 {
    font-size: 80;
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    text-align: center;
}

h2 {
    font-size: 60;
    animation-duration: 0.4s;
}

@keyframes flash {
    from {color: magenta;}
    to {color: green;}
}

ul, li {
    color: blue;
    font-size: 60;
    text-align: center;
}

p {
    text-align: center;
}
